/QianQian_Novel/obj
/QianQian_Novel/bin
/QianQian_Novel.Domain.RedisDemo/bin
/QianQian_Novel.Domain.RedisDemo/obj
/QianQian_Novel.Model/bin
/QianQian_Novel.Model/obj
/QianQian_Novel.MyUtility/bin
/QianQian_Novel.MyUtility/obj
/QianQian_Novel.Redis/bin
/QianQian_Novel.Redis/obj
/Tests/bin
/Tests/obj
/.vs
/QianQian_Novel.PostgreSQL/bin
/QianQian_Novel.PostgreSQL/obj
/QianQian_Novel.Entity/bin
/QianQian_Novel.Entity/obj
